<h1 align="center">Login!</h1>
<div align="center">
<form method="POST">
    <label>Email:</label>
    <%- include('./partials/error.ejs', { errors: errors, attribute: 'email'}) %>
    <input type="email" name="email" /><br><br>
    <label>Password:</label>
    <%- include('./partials/error.ejs', { errors: errors, attribute: 'password'}) %>
    <input type="password" name="password" /><br><br>
    <input type="submit" value="Submit!" />
</form>
<a href="registration">Reister</a>
</div>